.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/736x/bf/bb/b0/bfbbb087a26daf918dab88505558698e.jpg");
    background-size: cover;
    min-height: 100vh;
}

.cardDetailsContainer{
    background-color: rgb(177, 244, 244);
    /* background-color: rgb(153, 232, 232); */
    width: 100%;
}   